@font-face
{
	font-family: 'Darius';
	src: url('fonts/Darius.ttf');
}

@font-face
{
	font-family: 'Vera';
	font-weight: normal;
	src: url('fonts/Vera.ttf');
}
@font-face
{
	font-family: 'Vera';
	font-weight: bold;
	src: url('fonts/VeraBd.ttf');
}

img
{ max-width: 100%; }

A
{
	text-decoration: none;
}
A:link
{
	-webkit-transition: color 0.15s;
	-moz-transition: color 0.15s;
	-o-transition: color 0.15s;
	transition: color 0.15s;
	color: #fbfbfb;
}
A:visited
{
	color: #fbfbfb;
}
A:hover
{
	color: #9BF;
	-webkit-transition: color 0.15s;
	-moz-transition: color 0.15s;
	-o-transition: color 0.15s;
	transition: color 0.15s;
}

a span.noHoverText, a:hover span.hoverText
{
	display: inline-block;
	width: 100%;
}
a:hover span.noHoverText, a span.hoverText
{
	display: none;
	width: 100%;
}

body
{
	color: #fbfbfb;
	font-family: Vera;
	margin: 0;
	background-color: #000000;
}

.backgroundsolid
{
	background: #1B1C20;
}

.background
{
	background-image: url(images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.backgroundblur
{
	background-image: url(images/bgblur.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.headerimage
{
	height:50vh;
	width: 100%;
	position: absolute;
	top: 0;
}

.centertext
{
	font-size: 5em;
}

.misctext
{
	font-size: 2em;
	font-family: Darius;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.maindiv
{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.resume
{
	position: absolute;
	text-align: center;
	bottom: 1%;
}

.svg
{
	width: 20%;
	min-width: 200px;
	position: absolute;
	padding: 2%;
	margin: 0;
	display: block;
}

.cardX
{
	position: absolute;
	max-width: 152.8vh; /* 3.30/2.16 - the dimentions of a Moo card */
	min-width: 500px;
	width: 99%;
	height: 100%;
}
.cardY
{
	position: absolute;
	max-height: 65.4vw; /* 2.16/3.30 - the dimentions of a Moo card */
	min-height: 327px;
	width: 100%;
	height: 99%;
}
.cardborder
{
	border: 2px solid black;
	border-radius: 6vmin;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-attachment: initial;
}

.download
{
	font-family: Darius;
	letter-spacing: 10px;
	text-transform: uppercase;
	margin: 1em 0 0;
	width: auto;
	/*background: rgba(31, 29, 37, 1);
	border-radius: 1px;
	padding: 10px;
	margin-bottom: 3px;*/
}

.homebutton
{
	top: 0;
	left: 0;
	position: absolute;
	padding: 1%;
}

.content
{
	margin: 25vh 200px 0;
}

.contentcontainer
{
	position: relative;
	margin: 0 0 2em;
	background: #1E1D24; /*rgba(0,0,0,0.7);*/
	box-shadow: 1px 2px 6px 0px rgba(0,0,0,0.5);
	padding: 25px;
	border-radius: 1px;
}

.footerwhitespace
{
	height: 100px;
}

.video
{
	text-align: center;
	position: absolute;
	display: block;
	width: 25%;
}
.video video
{
	position: absolute;
	top: 0;
	left: 0;
}
.video:link
{
	margin: 5px;
	border: 1px solid #fbfbfb;
	-webkit-transition: 0.15s ease;
	-moz-transition: 0.15s ease;
	-o-transition: 0.15s ease;
	transition: 0.15s ease;
}
.video:hover
{
	border: 5px solid #9BF;
	margin: 1px;
	-webkit-transition: 0.15s ease;
	-moz-transition: 0.15s ease;
	-o-transition: 0.15s ease;
	transition: 0.15s ease;
}
.videooverlay
{
	position: absolute;
	padding: 0 0 10px 0;
	margin: 0;
	bottom: 0;
	width: 100%;
	text-shadow: 0 0 5px black;
}

.gametitle
{
	font-family: Darius;
	font-size: 2em;
	letter-spacing: 0.1em;
	margin: 10px;
	text-transform: uppercase;
	width: 100%;
	text-align: right;
}
.game
{
	display: inline-block;
	margin: 0 0 0 25%;
	padding: 0  0 0 35px;
}
.game p
{
	display: block;
	height: auto;
	padding: 0 0 0 1em;
	margin: 0;
}
.game a
{
	font-weight: bold;
}
.game td
{
	border: none;
	padding: 0 0.5em;
	margin: 0;
}
.game h5
{
	border-bottom: 1px solid #fbfbfb;
	padding: 0.5em 0 0.2em 0.2em;
	margin: 0 0 0.5em 0.3em;
}
.tiny
{
	font-size: 0.7em;
}
.gamedownload
{
	display: inline-block;
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-weight: bold;
	padding: 20px;
	margin: 10px;
	text-transform: uppercase;
	border-radius: 5px;
	opacity: 1;
	background: white;
	color: black !important;
}
.gamedownload:link
{
	-webkit-transition: 0.15s;
	-moz-transition: 0.15s;
	-o-transition: 0.15s;
	transition: 0.15s;
}
.gamedownload:hover
{
	background: #9BF;
}

.centerY
{
	top: 50%;
	transform: translateY(-50%);
}

.centerX
{
	left: 50%;
	transform: translateX(-50%);
}

H1
{
	font-size: 3em;
	font-weight: bold;
	margin: 0;
}
H2
{
	font-size: 3em;
	font-weight: normal;
	margin: 0;
}
H3
{
	font-size: 2em;
	font-weight: bold;
	margin: 0;
}
H4
{
	font-size: 2em;
	font-weight: normal;
	margin: 0;
}
H5
{
	font-size: 1.5em;
	font-weight: bold;
	margin: 0;
}
H6
{
	font-size: 1.5em;
	font-weight: normal;
	margin: 0;
}

.resume
{
	display: inline-block;
	position: relative;
	padding: 0;
	overflow: hidden;
}
.resume img
{
}
.resume a
{
	width: 100%;
	margin: 0;
	box-shadow: 1px 2px 6px 0px rgba(0,0,0,0.5);
	max-width: 32%;
	float: left;
}
.resume a:link
{
	-webkit-transition: 0.15s;
	-moz-transition: 0.15s;
	-o-transition: 0.15s;
	transition: 0.15s;
}
.resume a:hover
{
	
}
.resume p
{
	position: absolute;
	padding: 0 0 10px 0;
	margin: 0;
	bottom: 0;
	width: 100%;
	max-width: 32%;
	text-shadow: 0 0 5px black;
}

.art
{
	display: inline-block;
	position: relative;
	max-width: 100%;
	text-align: center;
	padding: 0;
}
.art img
{
	width: 100%;
	margin: 0.1em;
	box-shadow: 1px 2px 6px 0px rgba(0,0,0,0.5);
}
.art a
{
	-webkit-transition: 0.15s;
	-moz-transition: 0.15s;
	-o-transition: 0.15s;
	transition: 0.15s;
}
.art a:link
{
	filter: brightness(100%);
}
.art a:hover
{
	filter: brightness(50%);
}

.gallery
{
	line-height: 1em;
	-webkit-column-count: 3;
	-moz-column-count:    3;
	column-count:         3;
	-webkit-column-gap:   1em;
	-moz-column-gap:      1em;
	column-gap:           1em;  
}
.gallery img
{
	margin: 0.5em 0;
}

@media screen and (max-height:925px)
{
	.centertext
	{
		font-size: 4em;
	}
}
@media screen and (min-width:2000px)
{
	.gallery
	{
		-webkit-column-count: 4;
		-moz-column-count:    4;
		column-count:         4;
	}
}
@media screen and (max-width:1500px)
{
	.centertext
	{
		font-size: 4em;
	}
	.content
	{
		margin: 25vh 5% 0;
	}
	.video
	{
		width: 30%;
	}
	.game
	{
		margin: 0 0 0 30%;
	}
}
@media screen and (max-height:825px)
{
	.centertext
	{
		font-size: 3em;
	}
}
@media screen and (max-width:1200px)
{
	.art
	{
		-webkit-column-count: 2;
		-moz-column-count:    2;
		column-count:         2;
	}
	.centertext
	{
		font-size: 3em;
	}
}
@media screen and (max-width:1000px)
{
	.content
	{
		margin: 25vh 5px 0;
	}
	.video
	{
		position: relative;
		display: inline-block;
		width: 100%;
	}
	.game
	{
		position: relative;
		display: inline-block;
		width: 100%;
		margin: 10px 0 0 0;
		padding: 0;
	}
	.gamedownload
	{
		font-size: 1.5em;
	}
	.contentcontainer
	{
		margin: 25px 0 8em;
	}
}
@media screen and (max-height:560px)
{
	.centertext
	{
		font-size: 2em;
	}
}
@media screen and (max-width:850px)
{
	.centertext
	{
		font-size: 2em;
	}
}

.shadowtext
{
	/*-webkit-text-stroke: 2px black;*/
	text-shadow:
		1px 1px 0 #000,
		-1px 1px 0 #000,
		1px -1px 0 #000,
		-1px -1px 0 #000,
		0px 1px 0 #000,
		0px -1px 0 #000,
		-1px 0px 0 #000,
		1px 0px 0 #000,
		2px 2px 0 #000,
		-2px 2px 0 #000,
		2px -2px 0 #000,
		-2px -2px 0 #000,
		0px 2px 0 #000,
		0px -2px 0 #000,
		-2px 0px 0 #000,
		2px 0px 0 #000,
		1px 2px 0 #000,
		-1px 2px 0 #000,
		1px -2px 0 #000,
		-1px -2px 0 #000,
		2px 1px 0 #000,
		-2px 1px 0 #000,
		2px -1px 0 #000,
		-2px -1px 0 #000;
}

/*.character-link-card{width:100%;display:block;border-radius:2px;overflow:hidden;position:relative;padding-bottom:125%;height:0}.character-link-card .image:hover{margin-top:0}.character-link-card .image:hover+.details{margin-top:0;margin-bottom:-5rem}.character-link-card .image{padding-bottom:125%;position:relative;display:block;margin-top:-3rem;-webkit-transition:margin, 0.3s;transition:margin, 0.3s}.character-link-card .image img{width:100%;height:100%;-o-object-fit:cover;object-fit:cover;position:absolute;left:0;border-radius:2px}.character-link-card .details{bottom:0;width:100%;background-color:#212121;padding:1rem;border-radius:0 0 2px 2px;text-align:center;height:5rem;margin-top:-2rem;position:relative;z-index:1;-webkit-transition:margin, 0.3s;transition:margin, 0.3s}.character-link-card .details .name{display:block;font-size:1.1rem;color:#26a69a}.character-link-card .details .species{color:#757575}*/