@font-face
{
	font-family: 'Darius';
	src: url('Darius.ttf');
}

@font-face
{
	font-family: 'Vera';
	font-weight: normal;
	src: url('Vera.ttf');
}
@font-face
{
	font-family: 'Vera';
	font-weight: bold;
	src: url('VeraBd.ttf');
}

A
{
	text-decoration: none;
}
A:link
{
	-webkit-transition: color 0.1s;
	-moz-transition: color 0.1s;
	-o-transition: color 0.1s;
	transition: color 0.1s;
	color: #fbfbfb;
}
A:visited
{
	color: #fbfbfb;
}
A:hover
{
	color: #99C1FF;
	-webkit-transition: color 0.1s;
	-moz-transition: color 0.1s;
	-o-transition: color 0.1s;
	transition: color 0.1s;
}

a span.noHoverText, a:hover span.hoverText
{
	display: inline-block;
	width: 100%;
}
a:hover span.noHoverText, a span.hoverText
{
	display: none;
	width: 100%;
}

body
{
	color: #fbfbfb;
	font-family: Vera;
	background-image: url(bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-color: #000000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;
}

.centertext
{
	font-size: 80px;
}

.misctext
{
	font-size: 25px;
	font-family: Darius;
	letter-spacing: 2px;
}

.svg
{
	width: 20%;
	min-width: 200px;
	position: absolute;
	padding: 2%;
}

.homebutton
{
	top: 0;
	left: 0;
	position: absolute;
	padding: 1%;
}

.content
{
	margin: 20% 200px 100px;
	background: rgba(0,0,0,0.5);
	padding: 25px;
	border-radius: 25px;
}

.contentcontainer
{
	position: relative;
	margin-bottom: 50px;
}

.video
{
	top: 0;
	position: absolute;
	display: block;
	width: 20%;
	margin: 5px;
	border: 1px solid #fbfbfb;
	-webkit-transition: 0.1s ease-out;
	-moz-transition: 0.1s ease-out;
	-o-transition: 0.1s ease-out;
	transition: 0.1s ease-out;
}
.video:hover
{
	border: 5px solid #99C1FF;
	margin: 1px;
	-webkit-transition: 0.1s ease-out;
	-moz-transition: 0.1s ease-out;
	-o-transition: 0.1s ease-out;
	transition: 0.1s ease-out;
}
.videooverlay
{
	position: absolute;
	padding: 0 0 10px 0;
	margin: 0;
	bottom: 0;
	width: 100%;
}

.gametitle
{
	font-family: Darius;
	letter-spacing: 2px;
	font-size: 25px;
	margin: 10px;
}
.game
{
	display: inline-block;
	/*position: absolute;*/
	margin: 10px 0 10px 20%;
	padding: 0  0 25px 20px;
	width: 75%;
	height: auto;
}
.gametext
{
	display: inline;
	/*position: absolute;*/
	height: auto;
}
.gamedownload
{
	display: inline-block;
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-weight: bold;
	margin-top: 5px;
}

.centerY
{
	top: 50%;
	transform: translateY(-50%);
}
.centerX
{
	left: 50%;
	transform: translateX(-50%);
}


@media screen and (max-width:1500px)
{
	.centertext
	{
		font-size: 50px;
	}
	.misctext
	{
		font-size: 20px;
	}
	.content
	{
		margin: 20% 5% 100px;
	}
	.video
	{
		width: 30%;
	}
	.game
	{
		width: 65%;
		margin: 10px 0 10px 30%;
	}
}

@media screen and (max-width:1000px)
{
	.centertext
	{
		font-size: 30px;
	}
	.misctext
	{
		font-size: 15px;
	}
	.content
	{
		margin: 20% 5px 100px;
	}
	.video
	{
		position: relative;
		display: inline-block;
		width: 100%;
	}
	.game
	{
		position: relative;
		display: inline-block;
		width: 100%;
		margin: 10px 0 0 0;
		padding: 0  0 25px 0;
	}
	.gamedownload
	{
		right: 0;
		bottom: 0;
	}
}

.shadowtext
{
	/*-webkit-text-stroke: 2px black;*/
	text-shadow:
		1px 1px 0 #000,
		-1px 1px 0 #000,
		1px -1px 0 #000,
		-1px -1px 0 #000,
		0px 1px 0 #000,
		0px -1px 0 #000,
		-1px 0px 0 #000,
		1px 0px 0 #000,
		2px 2px 0 #000,
		-2px 2px 0 #000,
		2px -2px 0 #000,
		-2px -2px 0 #000,
		0px 2px 0 #000,
		0px -2px 0 #000,
		-2px 0px 0 #000,
		2px 0px 0 #000,
		1px 2px 0 #000,
		-1px 2px 0 #000,
		1px -2px 0 #000,
		-1px -2px 0 #000,
		2px 1px 0 #000,
		-2px 1px 0 #000,
		2px -1px 0 #000,
		-2px -1px 0 #000;
}