@font-face
{
	font-family: 'Darius';
	src: url('https://ln2.co/fonts/Darius.ttf');
}
@font-face
{
	font-family: 'Vera';
	font-weight: normal;
	src: url('https://ln2.co/fonts/Vera.ttf');
}
@font-face
{
	font-family: 'Vera';
	font-weight: bold;
	src: url('https://ln2.co/fonts/VeraBd.ttf');
}

/*@keyframes jiggle
{
    000% { transform:rotate( 0deg); }
    025% { transform:rotate(-3deg); }
    050% { transform:rotate( 0deg); }
    075% { transform:rotate( 3deg); }
    100% { transform:rotate( 0deg); }
}/**/
@keyframes jiggle
{
    000% { transform: translate( 0px, 0px) rotate( 0deg); }
    008% { transform: translate( 1px,-1px) rotate( 3deg); }
    017% { transform: translate(-1px,-2px) rotate( 0deg); }
    025% { transform: translate(-2px, 1px) rotate(-3deg); }
    033% { transform: translate( 0px, 0px) rotate( 0deg); }
    042% { transform: translate( 1px, 2px) rotate( 3deg); }
    050% { transform: translate(-1px, 1px) rotate( 0deg); }
    058% { transform: translate(-2px,-1px) rotate(-3deg); }
    067% { transform: translate(-1px,-2px) rotate( 0deg); }
    075% { transform: translate( 1px, 1px) rotate( 3deg); }
    083% { transform: translate(-1px, 0px) rotate( 0deg); }
    092% { transform: translate(-2px, 1px) rotate(-3deg); }
	100% { transform: translate( 0px, 0px) rotate( 0deg); }
}/**/

body, html
{
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: Vera;
	background-color: #060606;
}

a
{ text-decoration: none; }
a:link
{
	color: #fff;
	-webkit-transition: ease 0.15s;
	-moz-transition: ease 0.15s;
	-o-transition: ease 0.15s;
	transition: ease 0.15s;
}
a:visited
{ color: inherit; }
a:hover
{
	color: #2676d5;
	-webkit-transition: ease 0.15s;
	-moz-transition: ease 0.15s;
	-o-transition: ease 0.15s;
	transition: ease 0.15s;
}


#menu li
{
	background: #1E1F25;
	color: #FFF;
	overflow: hidden;
	padding:0;
	margin: 25px -5px 25px 25px;
	position: relative;
	background: #1E1F25;
	display: inline-block;
	border-radius: 2px;
	box-shadow: 0 2px 3px 1px rgba(0,0,0,0.5);
	-webkit-transition: ease 0.15s;
	-moz-transition: ease 0.15s;
	-o-transition: ease 0.15s;
	transition: ease 0.15s;
}
#menu li.active a:hover
{ color: #fff; }
#menu li:hover
{ box-shadow: 0 0 10px 3px rgba(0,0,0,0.7); }
#menu li a,
#menu li.active a
{
	padding: 10px 15px;
	display:block;
}
#menu li.active a
{ color: #2676d5; }
#menu
{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

.centertext
{
	font-family: Darius;
	font-size: 5rem;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.maindiv
{
	width: 100%;
	position: absolute;
	text-align: center;
}

.center
{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.jiggle
{
	animation: jiggle 1.5s linear infinite;
}

.arrow
{
	height: 3vh;
	margin: 0 0 10px;
}

.slide
{
	width: 100%;
	height: 95vh;
	background-position: center;
	background-attachment: absolute;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.slide img
{
	max-height: 95vh;
	max-width: 100%;
}

.slide p
{
	font-size: 20px;
	bottom: 0;
	right: 0;
	text-align: right;
	position: absolute;
	margin: 5vw;
	width: 50%;
	text-shadow:
		-1px -1px 4px #000,
		-1px  0px 4px #000,
		 0px -1px 4px #000,
		 0px  0px 4px #000;
}
